{% extends "base.html" %}
{% load static %}
{% load cart_tools %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container container-main">
        <div class="row">
            <div class="col">
                <h2 class="cart-font mt-3">Shopping Cart</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if cart_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless mt-3">
                            <thead class="text-black border-bottom">
                                <tr>
                                    <th scope="col">Product Image</th>
                                    <th scope="col">Product Info</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>

                            {% for item in cart_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                        <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">€{{ item.product.price }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        <form id="dec-form{{ item.item_id }}" method="POST" action="{% url 'decrement_cart_itm' item.item_id %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        </form>
                                        <form id="inc-form{{ item.item_id }}" method="POST" action="{% url 'add_to_cart' item.item_id %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        </form>
                                        <div class="form-group w-50">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="btn qty-btn" 
                                                            id="dec-btn{{ item.item_id }}" form="dec-form{{ item.item_id }}" type="submit"
                                                            {% if item.quantity == 1 %}disabled{% endif %}>
                                                        <span>
                                                            <i class="fas fa-minus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <input class="form-control form-control-sm text-center" type="number"
                                                    name="quantity" value="{{ item.quantity }}" min="1" max="99" step="1"
                                                    id="id_qty_{{ item.item_id }}" readonly>
                                                <div class="input-group-append">
                                                    <button class="btn qty-btn"
                                                        id="inc-btn{{ item.item_id }}" form="inc-form{{ item.item_id }}" type="submit"
                                                        {% if item.quantity == 99 %}disabled{% endif %}>
                                                        <span>
                                                            <i class="fas fa-plus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                    </td>
                                    <td class="py-3">
                                        <form class="form" action="{% url 'remove_from_cart' item.item_id %}" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" class="btn-del-itm">
                                                <i class="fas fa-times text-danger"></i>
                                            </button>
                                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <h6><strong>Cart Total: €{{ total|floatformat:2 }}</strong></h6>
                                    <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                                    <h4 class="mt-4"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h4>
                                    {% if amount_to_free_delivery > 0 %}
                                        <p class="mb-1 text-danger">
                                            You could get free delivery by spending just <strong>€{{ amount_to_free_delivery }}</strong> more!
                                        </p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'products' %}" class="btn buy-btn">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <a href="{% url 'checkout' %}" class="btn buy-btn ">
                                        <span class="text-uppercase">Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="cart-font text-center">Your cart is empty.</p>
                    <a href="{% url 'products' %}" class="btn buy-btn rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}