<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid container-home">
    <div>
        <a href="{% url 'products' %}" class="start-shop-btn btn btn-lg text-uppercase"> Start Shopping</a>
    </div>
</div>

<div class="container">
    <div class="row pt-5">
        <div class="col-12 col-4-lg">
            <h3 class="main-font section-title text-center">What are sports nutrition supplements?</h3>
            <br>
            <p>Sports nutrition supplements include a variety of drinks, powders and pills designed to improve athletic performance and/or fill gaps in the diet of people who play sports or workout on a regular basis.</p>
            <br>
            <hr class="w-50">
        </div>
    </div>
</div>
<div class="container">
    <h3 class="main-font section-title text-center pt-4 pb-3">Top Rated Products</h3>
    <div class="row">
        {% for product in top_rated_products %}
            <div class="col-12 col-md-4 mb-3">
                <div class="card h-100 border-1 pt-3">
                    {% if product.image %}
                    <a href="{% url 'detailed_product' product.id %}">
                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="{% url 'detailed_product' product.id %}">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                    {% endif %}
                    <div class="card-body pb-0">
                        <p class="mb-0"><strong>{{ product.name }}</strong></p>
                    </div>
                    <div class="card-footer bg-white pt-0 border-0 text-left">
                        <div class="row">
                            <div class="col">
                                <p class=" mb-0 text-left">€{{ product.price }}</p>
                                {% if product.rating %}
                                    <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / <strong>10</strong></small>
                                {% else %}
                                    <small class="text-muted">No Rating</small>
                                {% endif %}
                            </div>
                            <div class="col">
                                <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-row pull-right">
                                        <div class="col-12">
                                            {% if request.user.is_authenticated %}
                                                <button type="submit" class="btn buy-btn text-uppercase"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                                            {% else %}
                                                    <button type="button" class="btn buy-btn text-uppercase" data-toggle="modal" data-target="#pageredirect">
                                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                    </button>
                                                    <div class="modal fade" id="pageredirect" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header mdl-header-bg">
                                                                    <h5 class="modal-title logo-font" id="exampleModalLongTitle">Premiumbody</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span class="close-modal" aria-hidden="true">
                                                                        <i class="fas fa-times"></i>
                                                                    </span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p class="text-left pt-3">Please <a href="{% url 'account_login' %}">sign in</a> to procede.</p>
                                                                <p class="text-left">If you have not created an account yet, then please <a href="{% url 'account_signup' %}">sign up</a> first.</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn buy-btn text-uppercase mt-5" data-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                            {% endif %}
                                        </div>
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <br>
    <hr class="w-50">
</div>
<div class="container">
    <h3 class="main-font section-title text-center pt-3 pb-3">What our customers say</h3>
    <div class="row">
        {% for review in reviews %}
        <div class="col-12 col-md-3 mb-3">
            <div class="card border-0 mt-3 mb-3 review">
                <div class="card-body">
                    <p class="card-text username-review font-weight-bold">{% if review.user_profile.full_name %} {{ review.user_profile.full_name }} {% else %} {{ review.user_profile.user.username }} {% endif %}</p>
                    <p class="card-text"><small>{{ review.text }}</small></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if request.user.is_authenticated %}
    <div class="row">
        <div class="col-4 offset-4 text-center">
            <form class="" action="{% url 'add_review' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label class="font-weight-bold" for="review-text">Thoughts about us?</label>
                    <textarea name="text" rows="3" class="form-control review-box" id="review-text"
                        placeholder="Leave a comment..." required></textarea>
                </div>
                <button class="btn buy-btn mb-3">
                    <span>Send</span>
                </button>
            </form>
        </div>
    </div>
    {% endif %}
</div>   
{% endblock %}