{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid container-home">
    <div>
        <a href="{% url 'products' %}" class="start-shop-btn btn btn-lg text-uppercase"> Start Shopping</a>
    </div>
</div>

<div class="container">
    <div class="row pt-5">
        <div class="col-12 col-4-lg">
            <h3 class="main-font section-title text-center">What are sports nutrition supplements?</h3>
            <br>
            <p>Sports nutrition supplements include a variety of drinks, powders and pills designed to improve athletic performance and/or fill gaps in the diet of people who play sports or workout on a regular basis.</p>
            <br>
            <hr>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-4-lg">
            <br>
            <h3 class="main-font section-title text-center">What our customers say</h3>
            <br>
            <h5>John Roth</h5>
            <p>"I have been buying all my supplements from Premiumbody for months and they have always delivered the best service".</p>
            <h5>Sarah Williams</h5>
            <p>"World class service!"</p>
            <br>
            <hr>
        </div>
    </div>
</div>
<div class="container">
    <h3 class="main-font section-title text-center pt-4">Top Rated Products</h3>
    <br>
    <div class="row">
        {% for product in top_rated_products %}
            <div class="col-12 col-md-4">
                <div class="card h-100 border-0 pb-3 pt-3 pr-2">
                    {% if product.image %}
                    <a href="{% url 'detailed_product' product.id %}">
                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="{% url 'detailed_product' product.id %}">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                    {% endif %}
                    <div class="card-body pb-0">
                        <p class="mb-0"><strong>{{ product.name }}</strong></p>
                    </div>
                    <div class="card-footer bg-white pt-0 border-0 text-left">
                        <div class="row">
                            <div class="col">
                                <p class=" mb-0 text-left">€{{ product.price }}</p>
                                {% if product.rating %}
                                    <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / <strong>10</strong></small>
                                {% else %}
                                    <small class="text-muted">No Rating</small>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}