{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid container-home">
    <div>
        <a href="" class="start-shop-btn btn btn-lg text-uppercase"> Start Shopping</a>
    </div>
</div>

<div class="container">
    <div class="row pt-5">
        <div class="col-12 col-4-lg">
            <h3 class="main-font section-title">What are sports nutrition supplements?</h3>
            <p>Sports nutrition supplements include a variety of drinks, powders and pills designed to improve athletic performance and/or fill gaps in the diet of people who play sports or workout on a regular basis.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-4-lg">
            <h3 class="main-font section-title">What our customers say</h3>
            <br>
            <h5>John Roth</h5>
            <p>"I have been buying all my supplements from Premiumbody for months and they have always delivered the best service".</p>
            <br>
            <h5>Sarah Williams</h5>
            <p>"World class service!"</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-4-lg">
            <h3>Top Rated Products</h3>
        </div>
    </div>
</div>
{% endblock %}