{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{%  endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container container-main">
        <div class="row">
            <div class="col">
                <h2 class="cart-font mt-3 mb-3">My Profile</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <legend>Default Delivery Information</legend>
                <form class="mt-3" method="POST" action="{% url 'profile' %}" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn profile-btn text-uppercase mb-3 float-right">Update</button>
                </form>
            </div>
            <div class="col-12 col-lg-6">
                <legend>Order History</legend>
                <div class="order-history table-responsive rounded">
                    <table class="table table-sm table-borderless">
                        <thead class="border-bottom">
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:10 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                                <li class="small">
                                                    {{ item.product.name }} x{{ item.quantity }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>${{ order.grand_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <legend>Promo Codes</legend>
                {% if not promo_codes or promo_codes|length == 0 %}
                    <span>No Promo Codes yet</span>
                {% else %}
                    <div class="promo-codes table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead class="border-bottom">
                                <tr>
                                    <th>Code</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for code in promo_codes %}
                                    <tr>
                                        <td>
                                        {{ code.promo_code }}
                                        </td>
                                        <td>
                                            {% if code.promo_used %}
                                                <span>Used</span>
                                            {% else %}
                                                <span>Not Used</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}