{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{%  endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container container-main">
        <div class="row">
            <div class="col">
                <h2 class="cart-font mt-3 mb-3">Thank you!</h2>
                <hr>
                <p>Find your order information below. A confirmation email has been sent to {{ order.email }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="p-2">
                    <div class="row">
                        <div class="col">
                            <p class="font-weight-bold mb-0">Order Info:</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 text-muted font-weight-bold">Order Number</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 small">{{ order.order_number }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 text-muted font-weight-bold">Order Date</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right small">
                            <p>{{ order.date }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <p class="font-weight-bold mb-0">Order Details:</p>
                        </div>
                    </div>

                    {% for item in order.lineitems.all %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="text-muted font-weight-bold">{{ item.product.name }}</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="small">{{ item.quantity }} @ €{{ item.product.price }} each</p>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="row">
                        <div class="col">
                            <p class="font-weight-bold mb-0">Delivering To:</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 text-muted font-weight-bold">Full Name</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 small">{{ order.full_name }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 text-muted font-weight-bold">Address 1</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 small">{{ order.street_address1 }}</p>
                        </div>
                    </div>

                    {% if order.street_address2 %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 text-muted font-weight-bold">Address 2</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 small">{{ order.street_address1 }}</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 text-muted font-weight-bold">City</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 small">{{ order.city }}</p>
                        </div>
                    </div>

                    {% if order.postcode %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 text-muted font-weight-bold">Postal Code</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 small">{{ order.postcode }}</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 text-muted font-weight-bold">Country</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 small">{{ order.country }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 text-muted font-weight-bold">Phone Number</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="small">{{ order.phone_number }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <p class="font-weight-bold mb-0">Billing Info:</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 text-muted font-weight-bold">Order Total</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 small">€{{ order.order_total }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 text-muted font-weight-bold">Delivery</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 small">€{{ order.delivery_cost }}</p>
                        </div>
                    </div>
                    {% if order.promo_code %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 text-muted font-weight-bold">Discount:</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 small">-€{{ PROMO_CODE_VALUE | floatformat:2 }}</p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 text-muted font-weight-bold">Grand Total</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 small">€{{ order.grand_total }}</p>
                        </div>
                    </div>
                    {% if order.promo_code %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="font-weight-bold mb-0">Promo:</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right small">
                            <p>{{ order.promo_code }}</p>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row">
                    <div class="col-10 offset-1 text-center">
                        <form action="{% url 'add_review' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="font-weight-bold" for="review-text">Thoughts about us?</label>
                                <textarea name="text" rows="5" class="form-control review-box" id="review-text"
                                    placeholder="Leave a comment..." required></textarea>
                            </div>
                            <button class="btn buy-btn mb-3">
                                <span>Send</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% if from_profile %}
                <a href="{% url 'profile' %}" class="btn buy-btn mt-5 mb-5">
                    <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Profile</span>
                </a>
                {% else %}
                <a href="{% url 'products' %}" class="btn buy-btn mt-5 mb-5">
                    <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
