@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700&family=Black+Ops+One&display=swap');

.container-home {
    background: url('media/Home_image.jpg') no-repeat center center fixed;
}

.logo-font {
    font-family: "Black Ops One", sans-serif;
    font-size: 26px;
    color: #C0B01F;
}