@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700&family=Black+Ops+One&display=swap');

.container-home {
    background: url('/media/Home_image.jpg') no-repeat center center fixed;
    height: 600px;
}

.logo-font,
.main-font,
.start-shop-btn {
    font-family: "Black Ops One", sans-serif;
    color: white;
}

.start-shop-btn {
    background: transparent;
    color: white;
    border: 2px solid white;
    margin-top: 300px;
    margin-left: 15%;
}

.section-title {
    color: black;
}

.logo-font {
    font-size: 26px;
    color: #C0B01F;
}

.header-container {
    padding-top: 40px;
}

.bg-header {
    background-color: black;
}

a:hover {
    text-decoration: none;
}

.social-media {
    background: black;
    height: 100px;
}

.social-links {
    color: #fafafa;
    padding: 10px;
    font-size: 30px;
}

.social-links:hover {
    color: #C0B01F;
}