@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700&family=Black+Ops+One&display=swap');

body {
    min-height: 100vh; 
    margin: 0; 
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.container-home {
    background: url('/media/Home_image.jpg') no-repeat center center fixed;
    height: 600px;
}

.container-main {
    padding-top: 40px;
}


.footer {
    min-height:50px;
}

.logo-font,
.main-font,
.start-shop-btn,
.nav-itm {
    font-family: "Black Ops One", sans-serif;
    color: white;
}

.cart-font {
    font-family: "Black Ops One", sans-serif;
}

.dropdown-itm {
    font-family: "Black Ops One", sans-serif;
    font-size: 13px;
    color: black;
}

.nav-itm {
    font-size: 13px;
}

.products-title {
    font-family: "Black Ops One", sans-serif;
    color: black;
}

.pagination-txt {
    color: black;
    font-family: "Black Ops One", sans-serif;
}

.start-shop-btn {
    background: transparent;
    color: white;
    border: 2px solid white;
    margin-top: 300px;
    margin-left: 15%;
}

.buy-btn {
    background: black;
    color: #C0B01F;
    font-size: 16px;
    height: 40px;
    border-radius: 10%; 
    font-family: "Black Ops One", sans-serif;
}

.qty-btn {
    background: black;
    color: #C0B01F;
    font-size: 12px;
    height: 30px;
    border-radius: 10%; 
    font-family: "Black Ops One", sans-serif;
}

.btn-del-itm {
    background-color: white;
    border: none;
}

.page-btn {
    color: black;
}

.cat-btn {
    font-family: "Black Ops One", sans-serif;
    border: 2px solid black;
}

.section-title {
    color: black;
}

.logo-font {
    font-size: 26px;
    color: #C0B01F;
}

.header-container {
    padding-top: 80px;
}

.bg-header {
    background-color: black;
}

a:hover {
    text-decoration: none;
}

.social-media {
    background: black;
    height: 100px;
}

.social-links {
    color: #fafafa;
    padding: 10px;
    font-size: 30px;
}

.delivery-banner {
    background: #C0B01F;
}

.delivery-banner-txt {
    font-family: "Black Ops One", sans-serif;
    color: black;
    font-size: 16px;
}

.logo:hover,
.buy-btn:hover {
    color: white;
}

.social-links:hover,
.itm-color:hover,
.start-shop-btn:hover,
.nav-itm:hover {
    color: #C0B01F;
}

.cat-btn:hover {
    border: 2px solid white;
    color: #C0B01F;
    background-color: black;
}

.btn-del-itm:hover {
    cursor: pointer;
}

.page-btn:hover {
    color: #C0B01F;
}

/* ----------------------- Remove arrows from number input boxes */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* -------------------------------- Media Queries */

@media (max-width: 992px) {
    .header-container {
        padding-top: 80px;
    }
}

@media (max-width: 768px) {
    .header-container {
        padding-top: 110px;
    }
}
