<!DOCTYPE html>
<div class="col-6 col-md-4 d-md-none justify-content-center">
    <div class="dropdown">
        <button class="navbar-toggler navbar-dark" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item dropdown-itm" href="{% url 'home' %}">Home</a>
            <a class="dropdown-item dropdown-itm" href="{% url 'products' %}">Products</a>
            {% if request.user.is_authenticated %}
                <a class="dropdown-item dropdown-itm" href="">Profile</a>
                <a class="dropdown-item dropdown-itm" href="{% url 'account_logout' %}">Logout</a>
            {% else %}
                <a class="dropdown-item dropdown-itm" href="{% url 'account_signup' %}">Register</a>
                <a class="dropdown-item dropdown-itm" href="{% url 'account_login' %}">Login</a>
            {% endif %}
        </div>
    </div>
</div>