<!DOCTYPE html>
{% load static %}


<html lang="en">
  <head>
    
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {%  endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {%  endblock %}

    {% block corejs %}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/816d39411e.js"></script>
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>PREMIUMBODY</title>
  </head>
  <body>
    <header class="container-fluid fixed-top">
     <div id="delivery-banner" class="row text-center delivery-banner">
            <div class="col">
                <h4 class="delivery-banner-txt my-1">Free delivery on orders over €{{ free_delivery_threshold }}!</h4>                
            </div>            
        </div>
        <div class="row bg-header">
            <div class="col-12 col-md-4 my-auto py-1 text-center text-lg-left">
                <a href="{% url 'home' %}" class="logo-font logo text-uppercase pt-3">
                 Premiumbody
                </a>
            </div>
                {% include 'includes/desktop-nav.html' %}
                {% include 'includes/mobile-nav.html' %}
            {% if request.user.is_authenticated %}
                <div class="col-6 col-md-4 my-auto text-right">
                    <a href="{% url 'view_cart' %}" class="main-font nav-itm">
                        Cart 
                        <span class="badge badge-dark badge-pill main-font nav-itm">
                            {% if product_count %}
                                {{ product_count }}
                            {% else %}
                                0
                            {% endif %}
                        </span>
                        <span>|</span>
                        <span class="my-0 main-font nav-itm">
                            {% if grand_total %}
                                €{{ grand_total|floatformat:2 }}
                            {% else %}
                                €0.00
                            {% endif %}
                        </span>
                    </a>
                </div>
            {% endif %}
        </div>
       
    </header>

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <div class="footer">
        <div class="social-media text-center">
            <ul class="list-inline pt-4">
                <li class="list-inline-item">
                    <a class="social-links" target="_blank" href="https://www.facebook.com/">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        <span class="sr-only">Facebook</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="social-links" target="_blank" href="https://www.linkedin.com/">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                        <span class="sr-only">LinkedIn</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="social-links" target="_blank" href="https://www.instagram.com/">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        <span class="sr-only">Instagram</span>
                    </a>
                </li>
                <br>
                <li class="list-inline-item">
                    <a class="support-txt" target="_blank" href="">
                        <span>support@premiumbody.com</span> 
                    </a>
                </li>
            </ul>
        </div>
    </div>

    {% block postloadjs %}
    {% endblock %}

   
  </body>
</html>