{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-0"><strong>{{ product.name }}</strong></p>
                    <p class="mb-0 text-left">€{{ product.price }}</p>
                    {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / <strong>10</strong></small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    <p class="mt-3">{{ product.description }}</p>
                    <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-xs-2">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn qty-btn" 
                                                id="dec-btn" disabled>
                                                <span>
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control form-control-sm text-center" type="number"
                                            name="quantity" value="1" min="1" max="99"
                                            id="qty" readonly>
                                        <div class="input-group-append">
                                            <button class="btn qty-btn"
                                                id="inc-btn">
                                                <span>
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <a href="{% url 'products' %}" class="btn buy-btn mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                {% if request.user.is_authenticated %}
                                    <button type="submit" class="btn buy-btn text-uppercase mt-5">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    </button>
                                {% else %}
                                    <button type="button" class="btn buy-btn text-uppercase mt-5" data-toggle="modal" data-target="#pageredirect">
                                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                    </button>
                                                    <div class="modal fade" id="pageredirect" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header mdl-header-bg">
                                                                    <h5 class="modal-title logo-font" id="exampleModalLongTitle">Premiumbody</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span class="close-modal" aria-hidden="true">
                                                                        <i class="fas fa-times"></i>
                                                                    </span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p class="text-left pt-3">Please <a href="{% url 'account_login' %}">sign in</a> to procede.</p>
                                                                <p class="text-left">If you have not created an account yet, then please <a href="{% url 'account_signup' %}">sign up</a> first.</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn buy-btn text-uppercase mt-5" data-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    const decBtn = $('#dec-btn')
    const incBtn = $('#inc-btn')
    const qtyInput = $('#qty')

    decBtn.click(ev => {
        ev.preventDefault()
        if(qtyInput.val() > 1) {
            qtyInput.val(qtyInput.val() - 1)
            incBtn.prop('disabled', false)
            if(qtyInput.val() == 1)
                decBtn.prop('disabled', true)
        }    
    })
    incBtn.click(ev => {
        ev.preventDefault()
        if(qtyInput.val() < 99) {
            qtyInput.val(Number(qtyInput.val()) + 1)
            decBtn.prop('disabled', false)
            if(qtyInput.val() == 99)
                incBtn.prop('disabled', true)
        }
    })
</script>
{% endblock %}