{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container container-main">
        <div class="row">
            <div class="col pb-2">
                <h2 class="products-title">Products</h2>
                <hr>
            </div>
        </div>
        <div class="col-12 col-lg-4 offset-lg-4 my-auto py-1 py-lg-0">
            <form method="GET" action="{% url 'products' %}">
                <div class="input-group w-100">
                    <input class="form-control" type="text" name="q" placeholder="What are looking for?">
                    <div class="input-group-append">
                        <button class="form-control btn border border-black rounded-0" type="submit">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col">
                <ul class="list-inline list-unstyled text-center pt-3 pb-2">
                    <li class="list-inline-item">
                        <a href="{% url 'products' %}?category=protein" class="btn cat-btn mb-2">Protein</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{% url 'products' %}?category=mass_gainers" class="btn cat-btn mb-2">Mass Gainers</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{% url 'products' %}?category=bcaa" class="btn cat-btn mb-2">Bcaa's</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{% url 'products' %}?category=creatine" class="btn cat-btn mb-2">Creatine</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{% url 'products' %}?category=pre_workout" class="btn cat-btn mb-2">Pre Workout</a>
                    </li>
                </ul>
            </div>
        </div>
           <div class="col-4 offset-4 col-md-3 offset-md-9 my-auto py-1 py-lg-0">
                <div class="w-100">
                    <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border">
                        <option value="price_asc" {% if order == 'price' %}selected{% endif %}>Price (low to high)</option>
                        <option value="price_desc" {% if order == '-price' %}selected{% endif %}>Price (high to low)</option>
                        <option value="rating_asc" {% if order == 'rating' %}selected{% endif %}>Rating (low to high)</option>
                        <option value="rating_desc" {% if order == '-rating' %}selected{% endif %}>Rating (high to low)</option>
                        </select>
                    </div>
                </div>
            </div>  
        <div class="row">
            <div class="col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                    <div class="row">
                        {% for product in page_obj %}
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3">
                                <div class="card h-100 border-1 pt-3">
                                    {% if product.image %}
                                    <a href="{% url 'detailed_product' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </a>
                                    {% else %}
                                    <a href="{% url 'detailed_product' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                    </a>
                                    {% endif %}
                                    <div class="card-body pb-0">
                                        <p class="mb-0"><strong>{{ product.name }}</strong></p>
                                    </div>
                                    <div class="card-footer bg-white pt-0 border-0 text-left">
                                        <div class="row">
                                            <div class="col">
                                                <p class=" mb-0 text-left">€{{ product.price }}</p>
                                                {% if product.rating %}
                                                    <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / <strong>10</strong></small>
                                                {% else %}
                                                    <small class="text-muted">No Rating</small>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row text-center">
                                            <div class="col">
                                                <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <div class="form-row">
                                                        <div class="col-12">
                                                            {% if request.user.is_authenticated %}
                                                                <input type="submit" class="btn buy-btn text-uppercase mt-5" value="Add to Cart">
                                                            {% else %}
                                                                <a href="{% url 'account_login' %}" class="buy-btn btn mt-5">
                                                                    <span class="text-uppercase">add to cart</span>
                                                                </a>
                                                            {% endif %}
                                                        </div>
                                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    {% endfor %}               
                </div>
            </div>
        </div>
            <div class="text-center pb-3">                    
                <span>
                    {% if page_obj.has_previous %}
                        <a class="page-btn" href="?page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"><i class="fas fa-angle-double-left"></i></a>
                        <a class="page-btn" href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"><i class="fas fa-angle-left"></i></a>
                    {% endif %}

                    <span class="pagination-txt text-uppercase mr-2">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>

                    {% if page_obj.has_next %}
                        <a class="page-btn" href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"><i class="fas fa-angle-right"></i></a>
                        <a class="page-btn" href="?page={{ page_obj.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"><i class="fas fa-angle-double-right"></i></a>
                    {% endif %}
                </span>
             </div>

{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    document.getElementById('sort-selector')
    .addEventListener('change', ev => {
        const orderBy = ev.target.value
        const url = new URL(window.location)
        url.searchParams.set('order_by', orderBy)
        window.location.replace(url)
    })
</script>
{% endblock %}